.table{
  box-shadow: 1px 3px 10px 0px #c8c8c8;
}
.table>thead>tr>th, .table>thead>tr>thtable>thead>tr>th, .table>thead>tr>th{
  background: #d8d8d8;
  border:1px solid #ccc;
  /* text-align: center; */
  font-weight: bold;
}